html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
body {
    height: 99%;
    overflow: inherit;
}
#query-params {
	position: absolute;
	padding: 0.4em;
	left: 10%;
	z-index: 1;
	min-width: 25em;
	top: 1em;
	height: 2.5em;
/*	box-shadow: 0.1em 0.1em 0.2em 0em rgb(0,0,0);*/
	/*border: rgb(52,141,255) 1px none;*/
	/*border-radius: 0 0 1em 0;*/
	padding-left: 0.5em;
}
#query-params > input {
    padding: 0.2em;
    min-width: 5em;
    height: 2.3em;
    background: #ddd;
    border-width: 1px;
    border-radius: 0.2em;
    border-style: solid;
    border-color: #ccc;
    box-shadow: inset 0em 1.5em 2em 0em #eee,inset 0 0 1em 0em #aaa;
    color: #2e2e2e;
}
#query-params > input:hover {
    cursor: pointer;
    /*border-color: #ddd;*/
    background: #cbc5c2;
    box-shadow: inset 0em 1.5em 2em 0em #cbc5c2,inset 0 0 1em 0em #a99f9a;
}
#query-params > input:active {
    background: #a99f9a;
    border-width: 1px;
    border-color: #cbc5c2;
    box-shadow: inset 0em 1.5em 2em 0em #a99f9a,inset 0 0 1em 0em #cbc5c2;
    padding-top: 0.1em;
    padding-bottom: 0.3em;
}
#query-params > select {
    padding: 0.2em;
    min-width: 5em;
    height: 2.3em;
    background: #ddd;
    border-width: 1px;
    border-color: #ccc;
    border-radius: 0.2em;
    box-shadow: inset 0em 1.5em 2em 0em #eee,inset 0 0 1em 0em #aaa;
    color: #2e2e2e;
}
#print-frame {
	display: none;
	position: fixed;
}
#clock {
    position: absolute;
	font-size: smaller;
	border: #df7611;
    top: 6em;
}
#map {
    width: 100%;
    height: 100%;
	border-radius: 0.5em 0.5em 0.5em 0.5em;
}
#message-box {
    position: absolute;
    left: 15em;
    bottom: 2%;
    background: #333;
    padding: 0.7em;
    /*box-shadow: inset 0 0 1em 0.1em #222;*/
}
#message-box ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}
/* app css stylesheet */
body {
  background: #333;
}
div.angular-leaflet-map {
    width: 100%;
    height: 100%;
}
div.grid {
    width: 4.5em;
    height: 98%;
    position: absolute;
    top: 1%;
    right: 0em;
}
span.timestamp {
    font-size: 0.8em;
    color: #ccc;
}
span.msg {
    padding: 0.7em;
    color: #ddd;
}
/* Sly */
.sly-container {
    /*position: absolute;*/
    /*top: 0;*/
    height: inherit;
}
/* Waypoint list */
.waypoints {
    right: 20px;
	width: 6em;
	height: inherit;
    position: absolute;
    top: 0;
}
.waypoints .slidee {
/*	padding: 20px 25px;*/
/*	background: #fff;*/
}
.waypoints ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	font-size: 14px;
	line-height: 50px;
}
.waypoints ul li {
	float: right;
	width: 100%;
	height: 50px;
	margin: 0 0 1px;
	padding: 0;
	background: #333;
	color: #ddd;
	text-align: center;
	cursor: pointer;
}
.waypoints ul li.active {
	width: 100%;
}
.waypoints ul li.active .address {
    background: #333;
    color: #ddd;
    position: absolute;
    right: 7em;
    width: 18em;
}

.waypoints ul li.active .time {
    background: #a03232;
    color: #fff;
    right: 10em;
}
/* Scrollbar */
.w-scrollbar {
	position: absolute;
	right: 10px;
	width: 2px;
	height: 80%;
	background: #ccc;
	line-height: 0;
    top: 0;
}
.w-scrollbar .handle {
	width: 100%;
	height: 20%;
	background: #292a33;
	cursor: pointer;
}
.w-scrollbar .handle .mousearea {
	position: absolute;
	top: 0;
	right: -10px;
	width: 22px;
	height: inherit;
}
/* Trips list */
.trips {
    left: 20px;
    width: 7em;
    height: inherit;
    position: absolute;
    top: 0;
}
.trips .t-slidee {
/*	padding: 20px 25px;*/
/*	background: #fff;*/
}
.trips ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	font-size: 14px;
	line-height: 25px;
}
.trips ul li {
	float: left;
	width: 100%;
	height: 50px;
	margin: 0 0 1px;
	padding: 0;
	background: #333;
	color: #ddd;
	text-align: center;
	cursor: pointer;
}
.trips ul:first-child {
    background: #333;
    color: #ccc;
}
.trips ul li .s-trip {
    text-align:left ;
    padding-left: 0.5em;
}
.trips ul li .e-trip {
    text-align: right;
    padding-right: 0.5em;    
}
.trips ul li .d-trip {
    background: #333;
    color: #ddd;
    position: absolute;
    left: 8em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
.trips ul li.active {
	color: #fff;
	width: 100%;
	background: #a03232;
}
/* Scrollbar */
.t-scrollbar {
	position: absolute;
	left: 10px;
	width: 2px;
	height: 80%;
	background: #ccc;
	line-height: 0;
    top: 0;
}
.t-scrollbar .handle {
	width: 100%;
	height: 20%;
	background: #292a33;
	cursor: pointer;
}
.t-scrollbar .handle .mousearea {
	position: absolute;
	top: 0;
	left: -10px;
	width: 22px;
	height: inherit;
}

