input {
    padding: 5px;
}
input:hover {
  cursor: pointer;
}
input.field {
  border: 2px solid white;  
}
input#update-pwd {
	width: 5em;
}
input:focus {
  border-bottom-color: #a03232;
}
input[dtpicker] {
  width: 9em;
}
select {
    border-radius: 0.2em;
	padding: 0.2em;
	background: #E5E3E1;
}
#query-params {
	position: absolute;
	padding: 0.4em;
	left: 10%;
	z-index: 1;
	min-width: 25em;
	top: 1em;
	height: 2.5em;
/*	box-shadow: 0.1em 0.1em 0.2em 0em rgb(0,0,0);*/
	border: rgb(52,141,255) 1px none;
	border-radius: 0 0 1em 0;
	padding-left: 0.5em;
}
#query-params > input[type="text"] {
  width: 8em;
}
#query-params > select {
  min-width: 5em;
  height: 2.3em;
}
#print-frame {
	display: none;
	position: fixed;
}
#clock {
    position: absolute;
	font-size: smaller;
	border: #df7611;
    top: 6em;
}
#map {
    width: 100%;
    height: 100%;
	border-radius: 0.5em 0.5em 0.5em 0.5em;
}
/* app css stylesheet */
body {
  background: #333;
}
div.angular-leaflet-map {
    width: 100%;
    height: 100%;
}
/* Waypoint list */
.waypoints {
    right: 20px;
	width: 120px;
	height: 800px;
}
.waypoints .slidee {
/*	padding: 20px 25px;*/
/*	background: #fff;*/
}
.waypoints ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	font-size: 14px;
	line-height: 50px;
}
.waypoints ul li {
	float: right;
	width: 100%;
	height: 50px;
	margin: 0 0 1px;
	padding: 0;
	background: #333;
	color: #ddd;
	text-align: center;
	cursor: pointer;
}
.waypoints ul li.active {
	/*width: 100%;*/
}
.waypoints ul li.active .address {
    background: #333;
    color: #ddd;
    position: absolute;
    right: 9em;
    width: 18em;
}

.waypoints ul li.active .time {
    background: #a03232;
    color: #fff;
    right: 10em;
}
/* Scrollbar */
.w-scrollbar {
	position: absolute;
	right: 10px;
	width: 2px;
	height: 600px;
	background: #ccc;
	line-height: 0;
}
.w-scrollbar .handle {
	width: 100%;
	height: 100px;
	background: #292a33;
	cursor: pointer;
}
.w-scrollbar .handle .mousearea {
	position: absolute;
	top: 0;
	right: -10px;
	width: 22px;
	height: 100%;
}
/* Trips list */
.trips {
    left: 20px;
    width: 200px;
    height: 800px;
}
.trips .t-slidee {
/*	padding: 20px 25px;*/
/*	background: #fff;*/
}
.trips ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	font-size: 14px;
	line-height: 50px;
}
.trips ul li {
	float: left;
	width: 60%;
	height: 50px;
	margin: 0 0 1px;
	padding: 0;
	background: #333;
	color: #ddd;
	text-align: center;
	cursor: pointer;
}
.trips ul li.active {
	color: #fff;
	width: 100%;
	background: #a03232;
}
/* Scrollbar */
.t-scrollbar {
	position: absolute;
	left: 10px;
	width: 2px;
	height: 600px;
	background: #ccc;
	line-height: 0;
}
.t-scrollbar .handle {
	width: 100%;
	height: 100px;
	background: #292a33;
	cursor: pointer;
}
.t-scrollbar .handle .mousearea {
	position: absolute;
	top: 0;
	left: -10px;
	width: 22px;
	height: 100%;
}

