html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
body {
    height: 99%;
    overflow: inherit;
    font-family: sans-serif;
}
iframe {
    width: 0;
    height: 0;
}
#query-params {
	position: absolute;
	/*padding: 0.4em;*/
	left: 10%;
	z-index: 1;
	/*min-width: 25em;*/
	top: 1em;
	height: 2.5em;
/*	box-shadow: 0.1em 0.1em 0.2em 0 rgb(0,0,0);*/
	/*border: rgb(52,141,255) 1px none;*/
	/*border-radius: 0 0 1em 0;*/
	padding-left: 0.5em;
}
input.find, .clear, .report {
    min-width: 5em;
    height: 2.7em;
    background: #ddd;
    border-width: 1px;
    border-radius: 0.2em;
    border-style: solid;
    border-color: #ccc;
    /*box-shadow: inset 0 1.5em 2em 0 #eee;*/
    color: #2e2e2e;
}
input.find:hover {
    cursor: pointer;
    /*border-color: #ddd;*/
    background: #cbc5c2;
    box-shadow: inset 0 1.5em 2em 0 #cbc5c2,inset 0 0 1em 0 #a99f9a;
}
input.find:active {
    background: #cbc5c2;
    border-color: #cbc5c2;
    box-shadow: inset 0 1.5em 2em 0 #a99f9a,inset 0 0 1em 0 #cbc5c2;
    /*padding-top: 0.1em;*/
    /*padding-bottom: 0.3em;*/
}
input.clear {
    position: fixed;
    left: 4em;
    top: 1.2em;
}
input.clear:hover {
    cursor: pointer;
    background: #AC3333;
    box-shadow: inset 0 1.5em 2em 0 #D37373;
    border-color: #d37373;
    color: #7A0D0D;
}
input.clear:active {
    position: fixed;
    left: 4em;
    background: #AC3333;
    box-shadow: inset 0 1.5em 2em 0 #D37373;
    border-color: #d37373;
    color: #7A0D0D;
}
input.report {
    position: fixed;
    right: 8em;
    top: 1.2em;
}
input.report:hover {
    cursor: pointer;
    background: #AC3333;
    box-shadow: inset 0 1.5em 2em 0 #D37373;
    border-color: #d37373;
    color: #7A0D0D;
}
input.report:active {
    background: #AC3333;
    box-shadow: inset 0 1.5em 2em 0 #D37373;
    border-color: #d37373;
    color: #7A0D0D;
}

select {
    height: 2.7em;
    background: #ddd;
    border-width: 1px;
    border-color: #ccc;
    border-style: solid;
    border-radius: 0.2em;
    box-shadow: inset 0 1.5em 2em 0 #eee,inset 0 0 1em 0 #aaa;
    color: #2e2e2e;
    vertical-align: middle;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
#print-frame {
	display: none;
	position: fixed;
	width: 48em;
	height: 100%;
	background: white;
	left: 16em;
	top: 4em;
	z-index: 10;
}
#clock {
    position: absolute;
	font-size: smaller;
	border: #df7611;
    top: 6em;
}
#map {
    width: 100%;
    height: 100%;
	border-radius: 0.5em 0.5em 0.5em 0.5em;
}
#message-box {
    position: absolute;
    left: 15em;
    bottom: 2%;
    background: #333;
    padding: 0.7em;
    /*box-shadow: inset 0 0 1em 0.1em #222;*/
}
#message-box ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}
/* app css stylesheet */
body {
  background: #333;
}
div.angular-leaflet-map {
    width: 100%;
    height: 100%;
}
div.grid {
    width: 4.6em;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}
span.timestamp {
    font-size: 0.8em;
    color: #ccc;
}
span.msg {
    padding: 0.7em;
    color: #ddd;
}
/* Sly */
.sly-container {
    /*position: absolute;*/
    /*top: 0;*/
    height: inherit;
}
/* Trips list */
.trips {
    left: 20px;
    width: 6em;
    height: inherit;
    position: absolute;
    top: 0;
    overflow: visible;
}
.trips .t-slidee {
/*	padding: 20px 25px;*/
/*	background: #fff;*/
}
.trips ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	font-size: 14px;
	line-height: 25px;
}
.trips ul li {
	float: left;
	width: 100%;
	height: 50px;
	margin: 0 0 1px;
	padding: 0;
	background: #333;
	color: #ddd;
	text-align: center;
	cursor: pointer;
}
.trips ul li:first-child {
    background: #ccc;
    color: #333;
}
.trips ul li .s-trip {
    text-align:left ;
    padding-left: 0.5em;
}
.trips ul li .e-trip {
    text-align: left;
    padding-left: 1em;    
}
.trips ul li .d-trip {
    color: #ddd;
    background: #333;
    position: absolute;
    left: 7em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
.trips ul li.active {
	color: #fff;
	width: 100%;
	background: #a03232;
}
/* Scrollbar */
.t-scrollbar {
	position: absolute;
	left: 10px;
	width: 2px;
	height: 80%;
	background: #ccc;
	line-height: 0;
    top: 0;
}
.t-scrollbar .handle {
	width: 100%;
	height: 20%;
	background: #292a33;
	cursor: pointer;
}
.t-scrollbar .handle .mousearea {
	position: absolute;
	top: 0;
	left: -10px;
	width: 22px;
	height: inherit;
}

