@media print {
    body {
        left: 10em;
        font-size: 10pt;
    }
    caption {
        font-size: 12pt;
        padding-bottom: 1em;
    }
    td.period {
        font-size: 8pt;
        width: 12em;
    }
    td.address {
        width: 28em;
    }
    td.distance {
        text-align: right;
    }
    tr.ng-hide {
        display: none;
    }
}