@media print {
    body {
        left: 10em;
        width: 80em;
        font-size: 10pt;
    }
    caption {
        padding-bottom: 1em;
    }
    td.period {
        width: 12em;
    }
    td.address {
        width: 28em;
    }
    td.distance {
        
    }
}