<!DOCTYPE html>
<html lang='en'>
	<head>
      	<meta charset='utf-8'>
        <link type='text/css' href='//cdn.leafletjs.com/leaflet-0.6.2/leaflet.css' rel='stylesheet' />
        <link type='text/css' href="//cdn.kendostatic.com/2013.2.716/styles/kendo.common.min.css" rel="stylesheet">
        <link type='text/css' href="//cdn.kendostatic.com/2013.2.716/styles/kendo.default.min.css" rel="stylesheet">        
        <link type='text/css' href='css/jquery-ui-1.10.3.custom.min.css' rel='stylesheet' />
        <link type='text/css' href='css/app.css' rel='stylesheet' />
        <link type='text/css' href='css/slick.grid.css' rel='stylesheet' />
        <script src='//cdn.leafletjs.com/leaflet-0.6.2/leaflet.js'></script>
        <script src='/socket.io/socket.io.js'></script>
        <script src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
        <script src='//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js'></script>
        <script src="//cdn.kendostatic.com/2013.2.716/js/kendo.all.min.js"></script>
        <!--<script src='//crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/sha512.js'></script>-->
        <script src='//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js'></script>
        <script src='bower_components/angular-socket-io/socket.js'></script>
        <script src="bower_components/angular-kendo-ui/build/angular-kendo.js"></script>
        <script src='bower_components/angular-leaflet/dist/angular-leaflet-directive.min.js'></script>
        <script src='lib/sly.min.js'></script>
        <script src='lib/jquery.event.drag-2.0.min.js'></script>
        <script src='js/date_formatter.js'></script>
        <script src='lib/slick.core.js'></script>
        <script src='lib/slick.grid.js'></script>
        <script src='js/controllers.js'></script>
        <script src='js/directives.js'></script>
        <script src='js/filters.js'></script>
        <script src='js/services.js'></script>
        <script src='js/distance.js'></script>
        <script src='js/resize.js'></script>
        <script src='js/app.js'></script>
	</head>
	<body ng-app='core' ng-controller='mapCtrl'>
        <leaflet defaults='defaults' center='riga' markers='markers' paths='paths'></leaflet>
		<form id='query-params' ng-controller='queryCtrl' ng-submit='sendQueryRequest()'>
            <input kendo-date-time-picker ng-model='start_date'></input>
            <input kendo-date-time-picker ng-model='end_date'></input>
            <select ng-model='module' ng-options='module.name for module in list' label='module'>select module</select>
            <input type='submit' id='query' value='Find'></input>
            <input type='button' value='Clear' ng-click='resetVars()'></input>
		</form>
		<div print-frame></div>
        <div waypoints-list></div>
        <div trips-list></div>
        <div message-box></div>
	</body>
</html>
